<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>KakaoHub</title>
</head>

<body>
    <header>
        <h1 id="homeLink" class="title-home"> 아무말 대잔치 </h1>
    </header>
    <main>
        <article class = "spacer"></article>
        <article id = "article-loginForm" class = "loginForm">
            <p class="form-header">로그인</p>
            <form id='loginForm'>
            <fieldset class="outerline">
                    <div class="email-wrapper">
                        <label for="email">이메일</label>
                        <input type="text" id="email" name="email" placeholder="이메일을 입력해주세요" required autofocus></input>
                        <p id="email-helper" class="helper-text"></p>
                    </div>
                    <div>
                        <label for="pwd">비밀번호</label>
                        <input type="password" id="pwd" name="pwd" placeholder="비밀번호를 입력하세요" required></input>
                        <p id="password-helper" class="helper-text"></p>
                    </div>
                </fieldset>
                <button type="submit">로그인</button>    
            </form>
            <a id="signupLink" href="/auth/signup">회원가입</a>
        </article>
    
    </main>
    <script src="/javascript/index.js"></script> 

</body>
