<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" type="text/css" href="/css/post_edit.css">
    <title>KakaoHub</title>
</head>
<body>
    <header>
        <div id="header-wrapper">
            <div class="backButton-wrapper">
                <button id="backButton">&lt;</button>
            </div>
            <h1 id="homeLink" class="title-home"> 아무말 대잔치 </h1>
            <!-- 사용자 프로필 이미지 -->
            <div class="profile-img-wrapper">
                <div class="profile-img">
                    <img src="" alt="프로필 이미지">
                </div>
                <!-- 드롭다운 메뉴 -->
                <div class="dropdown-menu">
                    <ul>
                        <li class="user-edit">회원정보 수정</li>
                        <li class="password-edit">비밀번호 수정</li>
                        <li class="logout">로그아웃</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <main>
        <article class = "header-wrapper">
            <h2>게시글 수정</h2>
        </article>
        <article id="ediftForm" class="post-edit-form">
            <form id="updateForm">
                <div class= "title-wrapper">
                    <label for="title">제목*</label>
                    <input type="text" id="title" name="title" placeholder="제목을 입력해주세요. (최대 26자)"></input>
                    <p id="title-helper" class="helper-text"></p>
                </div>
                <div class="content-wrapper">
                    <label for="content">내용*</label>
                    <textarea id="content" placeholder="내용을 입력해주세요."></textarea>
                    <p id="content-helper" class="helper-text"></p>
                </div>
                <div class="file-wrapper">
                    <label for="file">이미지</label>
                    <input type="file" id="file">
                </div>
            
                <p id="form-helper" class="helper-text"></p>
                <div class="button-wrapper">
                    <button id="submit-button" type="submit">완료</button>          
                </div>
            </form>
        </article>
        
    </main>

    <script src="/javascript/post_edit.js"></script>
</body>
</html>
