<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" type="text/css" href="/css/posts.css">
    <title>KakaoHub</title>
</head>
<body>
    <header>
        <div class="header-spacer"></div>
        <a id="homeLink" href="/" class="anchor-title"><h1 class="title-home"> 아무말 대잔치 </h1></a>   
        <!-- 사용자 프로필 이미지 -->
        <div class="profile-img-wrapper">
            <div class="profile-img">
                <img src="" alt="프로필 이미지">
            </div>
            <!-- 드롭다운 메뉴 -->
            <div class="dropdown-menu">
                <ul>
                    <li class="user-edit">회원정보 수정</li>
                    <li class="password-edit">비밀번호 수정</li>
                    <li class="logout">로그아웃</li>
                </ul>
            </div>
        </div>

    </header>

    <main>
        <article class = "search-space">
            <!-- TODO: 검색 기능 공간 -->
            <div class="search-space">
                <h2>안녕하세요 게시판입니다.</h2>
            </div>
        </article>
        <article class="posts">
            <!-- 게시글 작성 버튼 -->
            <div class="button-wrapper">
                <button class="post_create" id="post_create" onclick="location='/posts/create/'">게시글 작성</button>
            </div>

            <!-- 게시글 목록 -->
            <section class="post-list" id="post-list">
                <!-- 실제 게시글이 나타나는 곳 -->
                <!-- 여기서부터 인피니티 스크롤링 -->
            </section>

        </article>

        
    </main>

    <script src="/javascript/posts.js"></script>
</body>
</html>
