<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" type="text/css" href="/css/posts.css">
    <title>KakaoHub</title>
</head>
<body>
    <header>
        <div class="header-spacer"></div>
        <h1> KakaoHub </h1>    
        <!-- 사용자 프로필 이미지 -->
        <div class="profile-img-wrapper">
            <div class="profile-img">
                <img src="/images/profile_img.jpg" alt="프로필 이미지">
            </div>
            <!-- 드롭다운 메뉴 -->
            <div class="dropdown-menu">
                <ul>
                    <li class="user-edit">회원정보 수정</li>
                    <li class="password-edit">비밀번호 수정</li>
                    <li class="logout">로그아웃</li>
                </ul>
            </div>
        </div>

    </header>

    <main>
        <article class = "search-space">
            <!-- TODO: 검색 기능 공간 -->
            <div class="search-space">
                <h2>안녕하세요 게시판입니다.</h2>
            </div>
        </article>
        <article class="posts">
            <!-- 게시글 작성 버튼 -->
            <div class="button-wrapper">
                <button class="post_create" id="post_create" onclick="location='/posts/create/'">게시글 작성</button>
            </div>

            <!-- 게시글 목록 -->
            <section class="post-list" id="post-list">
                <!-- 게시글 예시 -->
                <fieldset class="post-outerline">
                    <div class="post-item">
                        <div class="post-header">
                            게시글 제목이 여기에 들어갑니다
                        </div>
                        <div class="post-body">
                            <div class="post-header-wrapper">
                                <span class="post-likes">좋아요 0</span>
                                <span class="post-views">댓글 2</span>
                                <span class="post-reply">조회수 3</span>    
                            </div>
                            <div class="post-header-wrapper">
                                <span class="post-date">2024-10-31 00:00:00</span>
                            </div>
                        </div>                       
                    </div>
                    <div class="post-footer">
                        <img></img>
                        <span class="post-author">void</span>

                    </div>
                </fieldset>
                
                <!-- 여기서부터 인피니티 스크롤링으로 게시글이 추가됩니다 -->
            </section>

        </article>

        
    </main>

    <script src="/javascript/posts.js"></script>
</body>
</html>
