<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" type="text/css" href="/css/user_edit.css">
    <title>KakaoHub</title>
</head>

<body>
    <header>
        <h1> KakaoHub </h1>    
    </header>
    <main>
        <article class = "spacer"></article>
        <article class = "userEdit-article">
            <p class="header-title">회원정보 수정</p>
            <form id="userEditForm">
                <fieldset class="outerline">
                    <div class="profile_wrapper">
                        <label for="profile_img">프로필 사진</label>
                        <div class="profile-img-wrapper">
                            <img id="profilePreview" src="#" alt="프로필 사진 미리보기" />
                            <input type="file" id="profile_img" name="profile_img" accept="image/*"  />
                        </div>
                    </div>
                    <div class="email-wrapper">
                        <label>이메일*</label>
                        <label id="email" name="email"></input>
                    </div>
                    <div class="username-wrapper">
                        <label for="username">닉네임*</label>
                        <input type="text" id="username" name="username" placeholder="닉네임을 입력하세요" required></input>
                        <p id="username-helper" class="helper-text">&nbsp;</p>
                    </div>          
                </fieldset>
                <button type="submit">수정하기</button>
                
            </form>
            <a id="dropUser">회원 탈퇴</a>
        </article>
    
    </main>
    <!-- 모달 -->
    <div id="modalOverlay" class="modal-overlay">
        <div class="modal-content">
            <p id="modalMessage">모달 메시지</p>
            <button id="modalCancel">취소</button>
            <button id="modalConfirm">확인</button>
        </div>
    </div>
    <script src="/javascript/user_edit.js"></script> 
</body>
