<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" type="text/css" href="/css/user_edit.css">
    <title>KakaoHub</title>
</head>

<body>
    <header>
        <div id="header-wrapper">
            <div class="header-spacer"></div>
            <h1 id="homeLink" class="title-home"> 아무말 대잔치 </h1>
            <!-- 사용자 프로필 이미지 -->
            <div class="profile-img-wrapper">
                <div class="profile-img">
                    <img src="" alt="프로필 이미지">
                </div>
                <!-- 드롭다운 메뉴 -->
                <div class="dropdown-menu">
                    <ul>
                        <li class="user-edit">회원정보 수정</li>
                        <li class="password-edit">비밀번호 수정</li>
                        <li class="logout">로그아웃</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <main>
        <article class = "spacer"></article>
        <article class = "userEdit-article">
            <p class="header-title">회원정보 수정</p>
            <form id="userEditForm">
                <fieldset class="outerline">
                    <div class="img_editor_wrapper">
                        <label for="edit_img">프로필 사진</label>
                        <div class="editor-wrapper">
                            <img id="profilePreview" src="#" alt="프로필 사진 미리보기" />
                            <input type="file" id="edit_img" name="edit_img" accept="image/*"  />
                        </div>
                    </div>
                    <div class="email-wrapper">
                        <label>이메일*</label>
                        <label id="email" name="email"></input>
                    </div>
                    <div class="username-wrapper">
                        <label for="username">닉네임*</label>
                        <input type="text" id="username" name="username" placeholder="닉네임을 입력하세요" required></input>
                        <p id="username-helper" class="helper-text">&nbsp;</p>
                    </div>          
                </fieldset>
                <button type="submit">수정하기</button>
                
            </form>
            <a id="dropUser">회원 탈퇴</a>
        </article>
    
    </main>
    <!-- 모달 -->
    <div id="modalOverlay" class="modal-overlay">
        <div class="modal-content">
            <p id="modalMessage">모달 메시지</p>
            <button id="modalCancel">취소</button>
            <button id="modalConfirm">확인</button>
        </div>
    </div>
    <script src="/javascript/user_edit.js"></script> 
</body>
