body {
    font-family: 'Noto Sans C JK KR', sans-serif;
    color: #191919;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #191919;
}
.title-home {
    font-size: 35px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.spacer {
    height: 24vh;
    width: 100%
}

.loginForm {
    text-align: center;
    padding-bottom: 20px;
}

.loginForm p[class='form-header'] {
    font-size: 30px;
    font-weight: bold;
    margin-top: 0px;
}

fieldset.outerline {
    width: 400px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
    padding-bottom: 30px;
    margin-bottom: 10px;
}
.outerline div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 5px;
}
.outerline div label {
    width: 100%;
    text-align: left;
    margin-top: 20px;;
    margin-bottom: 10px;
}
.helper-text {
    color: red;
    font-size: 12px;
    display: none;
    width: 100%;
    text-align: left;
}
input[type='text'],
input[type='password'] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type='submit'] {
    width: calc(100% - 20px);
    background-color: #fee500;
    color: #191919;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

button[type='submit']:hover {
    background-color: #fdd835;
}

a {
    display: block;
    margin-top: 10px;
    color: #191919;
    text-decoration: none;
    font-size: 12px;
}

a:hover {
    text-decoration: underline;
}
